body {
    background-color:#888;
    color: #000;
    font-family: 'Adamina', sans-serif;
}
img#hannah {
    height: auto;
    width: 300px;
}
#show {
    color: #000;
}
h1,h2 {
    font-family: 'Adamina', sans-serif;
}