body {
    background-color:#888;
    color: #000;
    font-family: 'Adamina', sans-serif;

    padding: 40px;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
    inset #333633 0 0 0 5px,
    inset #4b4f4b 0 0 0 1px,
    inset #636963 0 0 0 10px,
    inset #7b827b 0 0 0 11px,
    inset #939c93 0 0 0 16px,
    inset #c3cfc3 0 0 0 17px,
    inset #dbe8db 0 0 0 22px,
    inset #f2fff2 0 0 0 23px;
    -moz-box-shadow:
    inset #333633 0 0 0 5px,
    inset #4b4f4b 0 0 0 1px,
    inset #636963 0 0 0 10px,
    inset #7b827b 0 0 0 11px,
    inset #939c93 0 0 0 16px,
    inset #c3cfc3 0 0 0 17px,
    inset #dbe8db 0 0 0 22px,
    inset #f2fff2 0 0 0 23px;
    box-shadow:
    inset #333633 0 0 0 5px,
    inset #4b4f4b 0 0 0 1px,
    inset #636963 0 0 0 10px,
    inset #7b827b 0 0 0 11px,
    inset #939c93 0 0 0 16px,
    inset #c3cfc3 0 0 0 17px,
    inset #dbe8db 0 0 0 22px,
    inset #f2fff2 0 0 0 23px;
}
img#hannah {
    height: auto;
    width: 300px;
}
#show {
    color: #000;
}
h1,h2 {
    font-family: 'Adamina', sans-serif;
}