body {
    background-color:#888;
    color: #000;
    font-family: 'Adamina', sans-serif;

    padding: 40px;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
    inset #333333 0 0 0 5px,
    inset #525252 0 0 0 1px,
    inset #696969 0 0 0 10px,
    inset #7D7D7D 0 0 0 11px,
    inset #8F8F8F 0 0 0 16px,
    inset #BDBDBD 0 0 0 17px,
    inset #D4D4D4 0 0 0 22px,
    inset #F2F2F2 0 0 0 23px;
    -moz-box-shadow:
    inset #333333 0 0 0 5px,
    inset #525252 0 0 0 1px,
    inset #696969 0 0 0 10px,
    inset #7D7D7D 0 0 0 11px,
    inset #8F8F8F 0 0 0 16px,
    inset #BDBDBD 0 0 0 17px,
    inset #D4D4D4 0 0 0 22px,
    inset #F2F2F2 0 0 0 23px;
    box-shadow:
    inset #333333 0 0 0 5px,
    inset #525252 0 0 0 1px,
    inset #696969 0 0 0 10px,
    inset #7D7D7D 0 0 0 11px,
    inset #8F8F8F 0 0 0 16px,
    inset #BDBDBD 0 0 0 17px,
    inset #D4D4D4 0 0 0 22px,
    inset #F2F2F2 0 0 0 23px;
}
img#hannah {
    height: auto;
    width: 300px;
}
#show {
    color: #000;
}
h1,h2 {
    font-family: 'Adamina', sans-serif;
}